<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="livroo" class="img-responsive text-center" src="https://www.noosbee.com/tiles_images_uploads/237cd44f125bd8bcbe764fd20045d3ee2ee842aaf74c8d3bf2c6b8b080ab276371e6ec49752b0aab831508a27151feb036acf57f69c6b684d7f99b7ba9a97fc5.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Livroo : Bibliothèque numérique d'entreprise
      </p>
    </div>
  </div>
</section>
